  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product{
    border: 1px var(--color-header) solid;
    margin: 1rem;
  }
  
  .product img{
    width: 100%;
    max-width: 400px;
  }
  
  .product-info{
    padding: 1rem;
  }