body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

:root{
  --color-header: #26264A;
  --color-link: white;

}

header{
  background-color: var(--color-header) ;
  padding: 1rem;
}

header a{
  color: var(--color-link);
  font-weight: bold;
  text-decoration: none;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  border: 1px var(--color-header) solid;
  margin: 1rem;
}

.product img{
  width: 100%;
  max-width: 400px;
}

.product-info{
  padding: 1rem;
}

main h1{
  padding-left: 1rem;
}